<h1>New Student Form</h1>

<%= form_for @student do |f|%>
    <label>Student First Name:</label><br>
    <%= f.text_field :first_name %><br>
    <%= f.label "Student Last Name:" %><br>
    <%= f.text_field :last_name %><br>
    <%= f.submit "Create Student" %>
<% end %>